* {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Modak', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Patua One', cursive;
}

h1 {
    font-size: larger;
}