:root {
    
    --basic: 'Syne', sans-serif;
}

* {
    font-family: var(--basic);
    /* margin-bottom: 1em; */
    background-color: black;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110%;
    align-items: center;
}



h1 {
    background-color: blanchedalmond;
    border: 25px solid 30;
    font-family: var(--basic);
    font-size: 3rem;
    text-align: center;
    /* padding-top: 1em; */

}

.gif {
    padding-left: 1rem;
}

.vid {
    display: flex;
    size-adjust: 90%;
    padding: .01rem;

}


.subtitle {
    font-family: 'Syne', sans-serif;
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em;
    margin-top: -6px;
    opacity: 60%;
}




@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 } 