* {
    font-family: 'Monoton', cursive;
    margin-bottom: 1em;

}

h1 {
    background-color: blanchedalmond;
    border: 2px solid 3;
    font-family: 'monoton';
    font-size: 3rem;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;

}

.subtitle {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}